<!DOCTYPE html>

<!--process paging navigation bar-->
{% macro pagination(url, page) %}
    <ul class="uk-pagination uk-flex-center uk-margin-medium-top uk-margin-large-bottom">
        {% if page.has_previous %}
            <li><a href="?page= {{ page.page_index - 1 }}"><span uk-pagination-previous></span></a></li>
        {% else %}
            <li class="uk-disabled"><a href="#"><span uk-pagination-previous></span></a></li>
        {% endif %}
            <li class="uk-active"><span>{{ page.page_index }}</span></li>
        {% if page.has_next %}
            <li><a href="?page={{ page.page_index + 1 }}"><span uk-pagination-next></span></a></li>
        {% else %}
            <li class="uk-disabled"><a href="#"><span uk-pagination-next></span></a></li>
        {% endif %}
    </ul>
{% endmacro %}

<!-- navigation page -->
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="HandheldFriendly" content="True">
        <meta name="viewport" content="width=device-width,initial-scale=0.9,minimum-scale=0.9,maximum-scale=0.9,user-scalable=no">
        <meta name="wap-font-scale" content="no">
        <!-- jinja2 meta -->
        {% block meta %}<!-- block meta-->{% endblock %}
        <!-- jinja2 title -->
        <title>{% block title %} ? {% endblock %} | AwesomeDunkBlog</title>
        <link rel="stylesheet" href="/static/css/uikit.min.css">
        <link rel="stylesheet" href="/static/css/uikit-rtl.min.css">
        <link rel="stylesheet" href="/static/css/awesome.css" />
        <script src="/static/js/jquery.min.js"></script>
        <script src="/static/js/sha1.min.js"></script>
        <script src="/static/js/uikit.min.js"></script>
        <script src="/static/js/uikit-icons.min.js"></script>
        <script src="/static/js/sticky.min.js"></script>
        <script src="/static/js/vue.min.js"></script>
        <script src="/static/js/awesome.js"></script>
        <!--jinja2 beforehead -->
        {% block beforehead %}<!-- beforehead head -->{% endblock %}
    </head>
    
    <!-- body for navigation page -->
    <body>
        <div class="container">
        <header class="uk-visible@m">
        <!-- UI -->
        <nav class="uk-navbar-container" uk-navbar>
            <div class="uk-navbar-left">
                <a class="uk-navbar-item uk-logo uk-margin-left" href="/">
                    <span class="uk-icon uk-margin-small-right" uk-icon="pagekit" ratio="2"></span>
                     D.W
                </a>
                <ul class="uk-navbar-nav">
                    <li><a href="/"> <b>Article | 日志</b></a></li>
                    <li><a href="#"> <b>Tutorial | 教程</b></a></li>
                    <li><a href="https://github.com/wy471x/personal_microblog"> <b>Resource | 源码</b></a></li>
                </ul>
            </div>
            <div class="uk-navbar-right uk-margin-right">
                <ul class="uk-navbar-nav">
                {% if __user__  %}
                    <li>
                        <span><a href="#0" style="color: inherit;"><i uk-icon="icon: user"></i> {{ __user__.name }}</a></span>
                        <div uk-dropdown>
                            <ul class="uk-nav  uk-dropdown-nav">
                                <li><a href="/manage/"><i uk-icon="settings"></i> <b>Manage | 管理</b></a></li>
                                <li><a href="/signout"><i uk-icon="sign-out"></i> <b>Logout | 注销</b></a></li>
                            </ul>
                        </div>
                    </li>
                {% else %}
                <li><a href="/signin"><i uk-icon="sign-in"></i>  <b>Login | 登录</b></a></li>
                <li><a href="/register"><i uk-icon="file-edit"></i>  <b>Register | 注册</b></a></li>
                {% endif %}
                </ul>
            </div>
        </nav>
        </header>

        <header class="uk-hidden@m">
        <nav class="uk-navbar-container" uk-navbar>
            <div class="uk-navbar-left">
                <a class="uk-navbar-item uk-logo" href="/">
                    <span class="uk-icon uk-margin-small-right" uk-icon="pagekit" ratio="2"></span>
                    D.W
                </a>
            </div>
            <div class="uk-navbar-right">
                <ul class="uk-navbar-nav">
                <li>
                <a class="uk-navbar-toggle" uk-toggle="target: #offcanvas-nav" uk-navbar-toggle-icon></a>
                
                <div id="offcanvas-nav" uk-offcanvas="overlay: true; flip: true">
                <div class="uk-offcanvas-bar uk-flex uk-flex-column">
                <ul class="uk-nav uk-nav-default uk-margin-auto-vertical">
                    <li><a href="/">  <b>Article | 日志</b></a></li>
                    <li><a href="#">  <b>Tutorial | j教程</b></a></li>
                    <li><a href="https://github.com/wy471x/personal_microblog">  <b>Resource | 源码</b></a></li>
                    {% if __user__  %}
                        <li><a href="/manage/"> <b>Manage | 管理</b></a></li>
                        <li><a href="/signout"> <b>Logout | 注销</b></a></li>
                    {% else %}
                        <li><a href="/signin"><i uk-icon="sign-in"></i> <b>Login | 登录</b></a></li>
                        <li><a href="/register"><i uk-icon="file-edit"></i> <b>Register | 注册</b></a></li>
                    {% endif %}
                </ul>
                </div>
                </div>
                </li>
                </ul>
            </div>
        </nav>
        </header>

        <div class="main">
        <div class="uk-container uk-container-center">
            <div class="uk-grid">
            <!-- jinja2 content -->
            {% block content %}
            {% endblock %}
            </div>
        </div>
        </div>
        
        <!-- icon and website information in buttom of page -->
        <footer>
        <div class="uk-container uk-container-center uk-text-center">
        <div class="uk-panel uk-margin-top uk-margin-bottom">
            <p>
                <a target="_blank" href="https://github.com/wy471x" class="uk-icon-button uk-margin-small-right" ratio="1" uk-icon="github"></a>
                <a target="_blank" href="#" class="uk-icon-button uk-margin-small-right uk-icon-twitter" ratio="1" uk-icon="twitter"></a>
                <a target="_blank" href="#" class="uk-icon-button uk-margin-small-right uk-icon-linkedin-square" ratio="1" uk-icon="linkedin"></a>
                <a target="_blank" href="https://weibo.com/5680820576" class="uk-icon-button uk-margin-small-right" ratio="1" uk-icon="weibo"></a>
            </p>
            <p class="uk-text-meta" style="line-height: 10px; padding: 10px 0; margin: 8px 0;">Powered by <a href="#">AwesomeDunkBlog</a>. Copyright &copy; 2020.</p>
            <p class="uk-text-meta" style="line-height: 0px; padding: 0px 0; margin: 0px 0;"><a href="#" target="_blank">Dunk Wan</a>. All rights reserved.</p>
        </div>
        </div>
        </footer>
    </div>
    </body>
</html>
