/*
 * custom CSS
 */
 
 a:hover, a:active {
	 text-decoration: none;
 }
 
 #vm {
	 display: none;
 }
 
 #loading {
	 margin-bottom: 15px;
 }
 
 #error {
	display: none;
	margin-bottom: 15px;
 }
 
/*html{
	width: 100%;
	position: relative;
	overflow-x: hidden;
  }*/
 
body {
	 width: 100%;
	 overflow-x: hidden;
  }
 
 .resp-container {
	 position: relative;
	 overflow: hidden;
	 padding-top: 56.25%;
 }
 
 .resp-iframe {
	 position: absolute;
	 top: 0;
	 left: 0;
	 width: 100%;
	 height: 100%;
	 border: 0;
 }

*{
    margin: 0;
    padding: 0;
}

html, body{
   height: 100%;
}

#container{
    height: 100%;
    display: flex;
    flex-direction: column;
}

header{
    background: #eee;
    border-bottom: 1px solid #ccc;
    width: 100%;
    height: 80px;
    flex: 0 0 auto;
}

.main{
    width: 100%;
    flex: 1 0 auto;
}


footer{
    background: #eee;
    border-top: 1px solid #ccc;
    width: 100%;
    bottom: 0px;
    flex: 0 0 auto;
}
