*{
    margin: 0;
    padding: 0;
}

html, body{
    height: 100%;
}

#container{
    position: relative;
    width: 100%;
    min-height: 100%;
    padding-bottom: 100px;
    box-sizing: border-box;
}

header{
    background:  #999;
    width: 100%;
    height: 200px;
}

.main{
    background: orange;
    width: 100%;
    height: 300px;
}

footer{
    background: #333;
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 0;
}
